{% extends "FOSUserBundle::layout.html.twig" %}

{% block initiaticeAdmin_body %}
    <nav class="breadcrumb-navbar nav-wrapper transparent">
        <ul>
            <li class="breadcrumb"><a href="{{ path('initiatice_admin_admin_index') }}">Modérateurs</a></li>
            <li class="breadcrumb"><span class="active">Ajouter</span></li>
        </ul>
    </nav>
    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock initiaticeAdmin_body %}
