<footer class="blue lighten-1 white-text page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Interface d'adminitration</h5>
                <p class="grey-text text-lighten-4">Vous pouvez modérer l'application mobile INITIATICE via cette interface d'administration.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Liens utiles</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 Copyright CEMU
            <a class="grey-text text-lighten-4 right" href="http://cemu.unicaen.fr/l-espace-utilisateurs/dispositif-initiatice/dispositif-initiatice-diffusion-aide-echange-226398.kjsp?RH=1192024540178">Plus d'info</a>
        </div>
    </div>
</footer>