<div id="remove_modal" class="modal">
    <div class="modal-content">
        <h4>Veuillez confirmer</h4>
        <p>Êtes vous sûr de vouloir le supprimer ?</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="waves-effect waves-red btn-flat" onclick="$('#remove_modal').modal('close'); return false;">Annuler</a>
        <a href="#" class="waves-effect waves-green btn-flat" id="remove_modal_yes">Oui</a>
    </div>
</div>