.table-actions-2 {
    width: 100px;
}
nav .dropdown-content {
    margin-top: 64px!important;
}

.sf-toolbar {
	display:none;
}

.breadcrumb-navbar.nav-wrapper {
    box-shadow: none;
}

.breadcrumb-navbar.nav-wrapper .breadcrumb::before {
    color: #B1B1B1;
    margin:0;
}

.breadcrumb-navbar.nav-wrapper .breadcrumb > * {
    float: right;
    padding: 0 10px;
    color: #1976D2;
    font-size: 16px;
}

.breadcrumb-navbar.nav-wrapper .breadcrumb > *.active {
    color: #42A5F5;
}